<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>                 <string>ps3recomp</string>
    <key>CFBundleDisplayName</key>          <string>ps3recomp</string>
    <key>CFBundleIdentifier</key>           <string>net.sp00nz.ps3recomp.host</string>
    <key>CFBundleVersion</key>              <string>0.3.0</string>
    <key>CFBundleShortVersionString</key>   <string>0.3.0</string>
    <key>CFBundlePackageType</key>          <string>APPL</string>
    <key>CFBundleExecutable</key>           <string>ps3recomp_host</string>
    <key>CFBundleIconFile</key>             <string>ps3recomp</string>
    <key>LSMinimumSystemVersion</key>       <string>11.0</string>
    <key>NSHighResolutionCapable</key>      <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key> <true/>
</dict>
</plist>
